<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-personal {% if page.url contains 'personal' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/personal">Personal</a></li>
        <li class="nav-develop {% if page.url contains 'develop' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/develop">Develop</a></li>
        <li class="nav-datascience {% if page.url contains 'datascience' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/datascience">DataScience</a></li>
        <li class="nav-dataengineering {% if page.url contains 'dataengineering' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/dataengineering">DataEngineering</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
